html, body {
    background-color: #222A3F;
    color: #B0BDC4;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 15px;
}


/* Typography! */
h1, h2, h3 {
	/*color: #D01E4F;*/
	font-weight: bold;
}
h1 {
	font-size: 350%;
}

/* Links! */
a {
	color: #222A3F;
	border-bottom: 1px dotted #FAE77F;
	-webkit-transition: all 0.1s ease-in-out;
	   -moz-transition: all 0.1s ease-in-out;
	    -ms-transition: all 0.1s ease-in-out;
	     -o-transition: all 0.1s ease-in-out;
			transition: all 0.1s ease-in-out;
}
a:hover {
	border-bottom: 1px solid #EB180A;
	color: #D01E4F;
	text-decoration: none;
}

ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FAE77F;
  /*position: fixed;
  top: 0;
  width: 100%;*/
}

li {
  float: left;
  display:inline;
}

li a {
  display: block;
  color: #222A3F;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  background-color: #EB180A;
}

.nav{
    text-align:center;
}
.nav a{
    display:inline-block;
    padding:10px;
}

.social-media {
	position:fixed;
	bottom: 0;
	width: 100%;
	background-color: #104B42;

}

